@font-face {
  font-family: 'corbel';
  src: url(font/corbel.TTF);
}

body {
  max-width: 40em;
  margin: 0 auto;
  padding: 5px;
  font-family: "corbel", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: black;
}
h1, h2, h3 {
  font-family: "corbel", sans-serif;
  font-weight: normal;
}

img {
  padding-top: 60px;
  padding-bottom: 60px;

}
