@font-face {
  font-family: 'corbel';
  src: url(font/corbel.TTF);
}

body {
  max-width: 70em;
  margin: 0 auto;
  padding: 5px;
  font-family: "corbel", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: black;
}
h1, h2, h3 {
  font-family: "corbel", sans-serif;
  font-weight: normal;
}

img {
  padding-top: 60px;
  padding-bottom: 60px;

}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.photo {
  width: 30%;
  height: 300px;
  object-fit: cover;
  border: 5px solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

