@font-face {
  font-family: 'corbel';
  src: url(font/corbel.TTF);
}

body {
  max-width: 70em;
  margin: 0 auto;
  padding: 5px;
  font-family: "corbel", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  color: black;
}
h1, h2, h3 {
  font-family: "corbel", sans-serif;
  font-weight: normal;
}

nav a {
  padding-right: 20px;
}

img {
  padding-top: 60px;
  padding-bottom: 60px;

}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 8%;
}
.gallery{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
grid-gap: 30px;
}
.gallery img{
  width: 100%;
}

.photo {
  width: 30%;
  height: 300px;
  object-fit: cover;
  
}

main {
  max-width: 960px;
  margin: 0 auto;
}
section {
  margin-bottom: 2rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.grid li {
  list-style: none;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  max-height: 300px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  max-height: 90%;
}

.modal .close {
  position: absolute;
  top: 2rem;
  right: 5rem;
  cursor: pointer;
  font-size: xxx-large;
}

.modal .close:hover {
  color: red;
}